[submodule "libs/libsx1262"]
	path = libs/libsx1262
	url = https://github.com/lupyuen/lora-sx1262
	branch = nuttx
[submodule "libs/liblorawan"]
	path = libs/liblorawan
	url = https://github.com/lupyuen/LoRaMac-node-nuttx
[submodule "libs/libnpl"]
	path = libs/libnpl
	url = https://github.com/lupyuen/nimble-porting-nuttx
